{- $email := promptStringOnce . "email" "Admin Email Address" -}}
{{- $name := promptStringOnce . "name" "Full Name" -}}
{{- $username := promptStringOnce . "name" "Github username" -}}
{{- $server := promptStringOnce . "name" "Server (true or false)" -}}
{{- $hostname := .chezmoi.hostname  -}}
{{- $headless := or (get . "headless") false -}}
{{- $osid := or (get . "osid") .chezmoi.os -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    username = {{ $username | quote }}
    docker = {{ or (get . "docker") false }}
    ephemeral = {{ or (get . "ephemeral") false }}
    headless = {{ $headless }}
    is_server = {{ $server }}
    hostname = {{ $hostname | quote }}
    secret = {{ or (get . "secret") false }}
    onepasswordAccount = {{ or (get . "onepasswordAccount") "" | quote }}
    osid = {{ $osid | quote }}
