{{ range (gitHubKeys "bhdicaire") -}}
{{ .Key }}
{{ end -}}

{{- /* Alternatively, paste your specific public key below */ -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINYdujeQ7GagYv1XVL8bT2qFqoQQVv1xjb8DDVCd4VvT
